@charset "UTF-8";
* {
  box-sizing: border-box;
}

#gottfrid {
  display: none;
}

.navlink {
  display: none;
}

.logo {
  height: 60px;
  margin-top: 20px;
  margin-left: 2%;
}

/* Navigering */
.nav-button {
  width: 35px;
  height: 35px;
  background: transparent;
  border: 0;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 3;
  pointer-events: none;
}

.nav-button span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 6px;
  margin-bottom: 4px;
}

/* Filterlista */
.filter,
.filterList {
  display: none;
}

/* Dropdown */
#dropBtn {
  background-color: #afddff;
  color: black;
  padding: 5px 10px;
  font-size: 0.9rem;
  font-family: "Jost", sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -30px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 75%;
  margin-top: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 50px;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Jost", sans-serif;
  font-size: 0.9rem;
}

.mobileDropdown {
  list-style: none;
  margin-left: -30px;
}

.show {
  display: block;
}

/* Månadens munk */
.special-donut {
  display: flex;
  flex: 3 0px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  font-family: "Jost", sans-serif;
}
.special-donut img {
  width: 140px;
  height: auto;
  margin-right: 80px;
  display: inline;
}
.special-donut .donutNameSpecial {
  font-size: 1.2rem;
  margin-left: 10%;
}
.special-donut .donutName {
  font-size: 1rem;
  margin-left: 10%;
  margin-top: -15px;
}
.special-donut .description {
  display: none;
}
.special-donut .donutContent {
  margin-left: 40%;
  margin-top: -155px;
}
.special-donut .donutDetails {
  display: flex;
  justify-content: space-between;
}
.special-donut .price {
  margin-left: 100%;
}
.special-donut .priceText {
  margin-left: 230%;
  margin-top: -23px;
}
.special-donut .minus {
  height: 35px;
  width: 35px;
  background-color: #afddff;
  border: solid 1px black;
  font-size: 1.3rem;
  border-radius: 5px;
  margin-top: 35px;
  margin-left: 10px;
}
.special-donut .plus {
  height: 35px;
  width: 35px;
  background-color: #afddff;
  border: solid 1px black;
  font-size: 1.3rem;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.special-donut .amount,
.special-donut .sum {
  font-size: 0.9rem;
}

/* Munkar */
.donutGrid {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Jost", sans-serif;
}
.donutGrid:nth-of-type(2) button {
  background-color: #FFCAE3;
}
.donutGrid:nth-of-type(3) button {
  background-color: #FFF8BA;
}
.donutGrid:nth-of-type(4) button {
  background-color: #D4FDD3;
}
.donutGrid:nth-of-type(5) button {
  background-color: #afddff;
}
.donutGrid:nth-of-type(6) button {
  background-color: #FFCAE3;
}
.donutGrid:nth-of-type(7) button {
  background-color: #FFF8BA;
}
.donutGrid:nth-of-type(8) button {
  background-color: #D4FDD3;
}
.donutGrid:nth-of-type(9) button {
  background-color: #afddff;
}
.donutGrid:nth-of-type(10) button {
  background-color: #FFCAE3;
}
.donutGrid img {
  width: 140px;
  height: auto;
  margin-right: 80px;
  display: inline;
}
.donutGrid .donutName {
  font-size: 1rem;
  margin-left: 0%;
  font-family: "Jost", sans-serif;
}
.donutGrid .description {
  display: none;
}
.donutGrid .donutContent {
  margin-left: 45.5%;
  margin-top: -155px;
}
.donutGrid .donutDetails {
  display: flex;
  justify-content: space-between;
}
.donutGrid .price {
  margin-left: 0%;
}
.donutGrid .priceText {
  margin-top: -23px;
  margin-left: 260%;
}
.donutGrid .minus {
  height: 35px;
  width: 35px;
  background-color: #afddff;
  border: solid 1px black;
  font-size: 1.3rem;
  border-radius: 5px;
  margin-top: 35px;
  margin-left: 10px;
}
.donutGrid .plus {
  height: 35px;
  width: 35px;
  background-color: #afddff;
  border: solid 1px black;
  font-size: 1.3rem;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.donutGrid .amount,
.donutGrid .sum {
  font-size: 0.9rem;
}

#cart {
  margin-left: 5%;
  font-family: "Jost", sans-serif;
  padding-bottom: 20px;
}
#cart .donutName {
  margin-left: 35%;
  margin-top: -95px;
}
#cart .donutDetails {
  margin-left: 35%;
  margin-top: -15px;
  font-size: 0.9rem;
}
#cart .priceText {
  margin-top: -21px;
  margin-left: 9%;
}
#cart .donutAmount {
  margin-top: -5px;
}

.cartContainer {
  margin-left: 2%;
  margin-right: 2%;
  background-color: #afddff;
  padding: 5px;
}
.cartContainer #cartText {
  font-family: "Jost", sans-serif;
  margin-left: 8%;
}
.cartContainer #orderDonutsText {
  font-family: "Jost", sans-serif;
  margin-left: 8%;
  margin-bottom: -15px;
}
.cartContainer .header {
  padding: 10px;
}
.cartContainer .form {
  padding: 10px 15px;
}
.cartContainer .form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.cartContainer .form-control label {
  display: inline-block;
  margin-bottom: 5px;
  font-family: "Jost", sans-serif;
}
.cartContainer .form-control input {
  border: 1px solid black;
  border-radius: 6px;
  display: block;
  width: 100%;
  padding: 10px;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
}
.cartContainer .form-control.success input {
  border-color: #2ecc71;
}
.cartContainer .form-control.error input {
  border-color: #e74c3c;
}
.cartContainer .form-control i {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}
.cartContainer .form-control.success i.fa-check-circle {
  visibility: visible;
  color: #2ecc71;
}
.cartContainer .form-control.error i.fa-exclamation-circle {
  visibility: visible;
  color: #e74c3c;
}
.cartContainer .form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
.cartContainer .form-control small {
  visibility: visible;
  color: #e74c3c;
}
.cartContainer .form button {
  background-color: white;
  color: black;
  border: 1px solid black;
  display: block;
  font-size: 1rem;
  font-family: "Jost", sans-serif;
  border-radius: 6px;
  padding: 10px;
  width: 100%;
}
.cartContainer .toggle-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.card-text,
.invoice-text {
  font-family: "Jost", sans-serif;
}

.checkbox {
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
}

#orderButton {
  margin-top: 30px;
  margin-bottom: 10px;
}

#cardDetails {
  display: none;
}

#invoiceDetails {
  display: none;
}

.cardExpiration {
  margin-top: 10px;
  margin-bottom: 10px;
}

#cardCVV {
  width: 30%;
  margin-bottom: 10px;
  padding-bottom: -5px;
}

/* ------------ Surfplatta layout -------------- */
@media screen and (min-width: 750px) {
  .special-donut {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .special-donut img {
    width: auto;
    height: 220px;
    margin-right: 80px;
    display: inline;
    margin-left: 4%;
  }
  .special-donut .donutContent {
    margin-left: 40%;
    margin-top: -300px;
    margin-right: 20%;
  }
  .special-donut .donutNameSpecial {
    margin-top: 80px;
    font-size: 1.4rem;
    background-image: url("../images/blue-shape.png");
    background-repeat: no-repeat;
    background-size: 65%;
    padding-right: 50px;
    padding-left: 15px;
    margin-left: -15px;
  }
  .special-donut .priceText {
    margin-top: -23px;
    margin-left: 130%;
    font-size: 1rem;
  }
  .special-donut .description {
    display: block;
    font-size: 0.9rem;
    margin-top: -15px;
  }
  .special-donut .donutName {
    font-size: 1.1rem;
    margin-left: 0;
    margin-top: -15px;
  }
  .special-donut .price {
    font-size: 1rem;
    margin-left: 15%;
    margin-top: -50px;
  }
  .special-donut .description {
    font-family: Arial, Helvetica, sans-serif;
  }
  .special-donut .donutDetails {
    display: flex;
    flex-direction: row;
  }
  .special-donut .donutAmount {
    margin-left: 35%;
    margin-top: -30px;
  }
  .special-donut .donutAmount .plus {
    margin-left: 15px;
  }
  .special-donut .donutAmount .minus {
    margin-left: 15px;
  }
  .donutGrid img {
    margin-left: 4%;
    width: auto;
    height: 220px;
  }
  .donutGrid .donutName {
    font-size: 1.1rem;
  }
  .donutGrid .description {
    display: none;
  }
  .donutGrid .donutContent {
    margin-left: 40%;
    margin-top: -190px;
  }
  #cart {
    margin-left: 3%;
    font-family: "Jost", sans-serif;
    padding-bottom: 20px;
  }
  #cart .donutName {
    margin-left: 16%;
    margin-top: -95px;
  }
  #cart .donutDetails {
    margin-left: 16%;
    margin-top: -15px;
    font-size: 0.9rem;
  }
  #cart .priceText {
    margin-top: -21px;
    margin-left: 3.5%;
  }
  #cart .donutAmount {
    margin-top: -5px;
  }
  .cartContainer #cartText {
    margin-left: 3%;
  }
  .cartContainer #orderDonutsText {
    margin-left: 3%;
    padding-bottom: 20px;
  }
}
/* ------------ Desktop layout -------------- */
@media screen and (min-width: 1024px) {
  #gottfrid {
    display: none;
  }
  /* Header och nav */
  .logo {
    margin-top: 30px;
    margin-left: 4%;
  }
  .nav-button {
    display: none;
  }
  nav {
    display: block;
    height: 100px;
    width: 100%;
    background: white;
    margin: 0px;
    z-index: 9;
  }
  .navlink {
    text-decoration: underline;
    list-style: none;
    max-width: 800px;
    width: 35%;
    margin-top: -55px;
    margin-left: auto;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .navlink a {
    color: black;
  }
  .navlink a:hover {
    color: grey;
  }
  /* Filterlista */
  .filter,
.filterList {
    list-style: none;
    display: flex;
    font-family: "Jost", sans-serif;
    font-weight: lighter;
  }
  .filter a,
.filterList a {
    color: black;
    text-decoration: none;
  }
  .filter a:hover,
.filterList a:hover {
    color: grey;
    text-decoration: none;
  }
  .filter {
    margin-left: 60%;
    margin-top: 80px;
    padding-bottom: -20px;
  }
  .filterItem {
    padding-right: 15px;
    padding-left: 15px;
  }
  /* Dropdown */
  .dropBtn,
.dropdown {
    display: none;
  }
  /* Donut grid */
  .donuts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  /* Månadens donut */
  .special-donut {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .special-donut img {
    width: auto;
    height: 300px;
    margin-right: 80px;
    display: inline;
    margin-left: 4%;
  }
  .special-donut .donutContent {
    margin-left: 30%;
    margin-top: -350px;
    margin-right: 20%;
  }
  .special-donut .donutNameSpecial {
    font-size: 1.8rem;
    background-image: url("../images/blue-shape.png");
    background-repeat: no-repeat;
    background-size: 36%;
    padding-right: 50px;
    padding-left: 20px;
    margin-left: -20px;
  }
  .special-donut .priceText {
    margin-top: -28px;
    margin-left: 130%;
    font-size: 1.2rem;
  }
  .special-donut .description {
    display: block;
  }
  .special-donut .donutName {
    font-size: 1.2rem;
    margin-left: 0;
    margin-top: -10px;
  }
  .special-donut .price {
    font-size: 1.2rem;
    margin-left: 5%;
  }
  .special-donut .description {
    font-family: Arial, Helvetica, sans-serif;
  }
  .special-donut .donutDetails {
    display: flex;
    flex-direction: row;
  }
  .special-donut .donutAmount {
    margin-left: 55%;
  }
  .special-donut .donutAmount .plus {
    margin-left: 15px;
  }
  .special-donut .donutAmount .minus {
    margin-left: 15px;
  }
  /* Munkar */
  .donutGrid {
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: "Jost", sans-serif;
  }
  .donutGrid img {
    width: auto;
    height: 300px;
    margin-right: 80px;
    display: inline;
    margin-left: 12%;
  }
  .donutGrid .donutContent {
    margin-top: 30px;
    margin-left: 12%;
  }
  .donutGrid .donutName {
    font-size: 1.2rem;
    margin-left: 0;
    margin-top: -10px;
  }
  .donutGrid .price {
    font-size: 1.2rem;
    margin-left: 0%;
  }
  .donutGrid .priceText {
    margin-left: 130%;
    margin-top: -28px;
    font-size: 1.2rem;
  }
  .donutGrid .donutDetails {
    display: flex;
    flex-direction: row;
  }
  .donutGrid .donutAmount {
    margin-right: 24%;
  }
  .donutGrid .donutAmount .plus {
    margin-left: 15px;
  }
  .donutGrid .donutAmount .minus {
    margin-left: 15px;
  }
  /* Kassa och formulär */
  #cart {
    margin-left: 8%;
    font-family: "Jost", sans-serif;
    padding-bottom: 20px;
  }
  #cart .donutName {
    margin-left: 10%;
    margin-top: -95px;
  }
  #cart .donutDetails {
    margin-left: 10%;
    margin-top: -15px;
    font-size: 0.9rem;
  }
  #cart .priceText {
    margin-top: -21px;
    margin-left: 2%;
  }
  #cart .donutAmount {
    margin-top: -5px;
  }
  .cartContainer {
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    background-color: #afddff;
  }
  .cartContainer #orderDonutsText {
    font-family: "Jost", sans-serif;
  }
  .cartContainer .header {
    padding: 20px;
  }
  .cartContainer .form {
    padding: 30px 40px;
  }
  .cartContainer .column1 {
    margin-right: 50%;
  }
  .cartContainer .column2 {
    margin-left: 45%;
    margin-top: -411px;
  }
  .cartContainer .form-control {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
  }
  .cartContainer .discount {
    margin-left: 5%;
    margin-right: 55%;
  }
  .cartContainer .form-control label {
    display: inline-block;
    margin-bottom: 5px;
    font-family: "Jost", sans-serif;
  }
  .cartContainer .form-control input {
    display: grid;
    grid-template-columns: 40% 40%;
    border: 1px solid black;
    border-radius: 6px;
    display: block;
    width: 100%;
    padding: 10px;
    font-family: "Jost", sans-serif;
    font-size: 1rem;
  }
  .cartContainer .form-control.success input {
    border-color: #2ecc71;
  }
  .cartContainer .form-control.error input {
    border-color: #e74c3c;
  }
  .cartContainer .form-control i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
  }
  .cartContainer .form-control.success i.fa-check-circle {
    visibility: visible;
    color: #2ecc71;
  }
  .cartContainer .form-control.error i.fa-exclamation-circle {
    visibility: visible;
    color: #e74c3c;
  }
  .cartContainer .form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .cartContainer .form-control small {
    visibility: visible;
    color: #e74c3c;
  }
  .cartContainer .form button {
    background-color: white;
    color: black;
    border: 1px solid black;
    display: block;
    font-size: 1rem;
    font-family: "Jost", sans-serif;
    border-radius: 6px;
    padding: 10px;
    width: 30%;
    margin-left: 35%;
    margin-top: 10px;
  }
  .cartContainer .form button:hover {
    background-color: #D4FDD3;
  }
  .cartContainer #clear:hover {
    background-color: #FFCAE3;
  }
  .cartContainer .toggle-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .cartContainer .cartOptions {
    margin-left: 5%;
  }
  .cartContainer #cardCVV {
    width: 20%;
    margin-bottom: 10px;
  }
  .cartContainer #cardDetails {
    display: none;
    margin-left: 0;
    margin-top: 10px;
    margin-right: 58%;
  }
  .cartContainer #invoiceDetails {
    display: none;
    margin-left: 0;
    margin-right: 58%;
  }
  .cartContainer .checkbox {
    font-family: "Jost", sans-serif;
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=style.css.map */