* {box-sizing: border-box;
}

#gottfrid{
    display: none; 

    /* Hjälper detta ändå vid SEO eller tänker jag snett? */
}

.navlink{
    display: none;
}

.logo{
    height: 60px;
    /* Annat sätt att minska storleken på bilden i mobilformat? Den blir lite suddig.. */
    margin-top: 20px;
    margin-left: 2%;
}

.nav-button {
    width: 35px;
    height: 35px;
    background: transparent;
    border: 0;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 3;
    pointer-events: none;
  }
  
  .nav-button span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 6px;
    margin-bottom: 4px;
  }

  
.special-donut{
    background-color: green;
    display: flex;
    flex: 3 0px;
    flex-direction: row;
    flex-wrap: wrap;

   
    img{ 
        width: 140px;
        height: auto;
        margin-right: 80px;
        display: inline;
    }
    .donutNameSpecial{
        font-family: 'Jost', sans-serif;
        font-size: 1.2rem;
        display: inline;
        margin-left: -15%;
        margin-top: 10px;
    }
    .donutName{
        font-size: 1rem;
        font-family: 'Jost', sans-serif;
        display: inline;
        margin-left: -37%;
        margin-top: 38px;

    }
    .minus{
        margin-left: 72%;
        margin-right: 2%;
        height: 35px;
        width: 35px;
        border: solid 1px black;
        border-radius: 5px;
        font-size: 1.5rem;
        background-color: #AFDDFF;
        margin-top: -45px;
    }
    .plus{
        margin-left: 85%;
        margin-right: 2%;
        height: 35px;
        width: 35px;
        border: solid 1px black;
        border-radius: 5px;
        font-size: 1.5rem;
        background-color: #AFDDFF;
        margin-top: -45px;
    }
    .amount{
        margin-top: 96px;
        margin-left: -37%;
    }
    .amount-text{
        margin-top: 96px;
        margin-left: 1%;
    }

    .sum{
       margin-top: 116px; 
       margin-left: -5.5%;
       position: relative;
    }
}

.price{
    visibility: hidden;
}

/* Desktop layout */

@media screen and (min-width:1024px) {

    #gottfrid{
        display: none; 
    }

.logo{
    margin-top: 30px;
    margin-left: 4%;
}

.nav-button{
    display: none;
}

nav {
    background-color: red;
    display: block;
    height: 100px;
    width: 100%;
    background: white;
    margin: 0px;  
    z-index: 9;
}

.navlink{
    text-decoration: underline;
    list-style: none;
    max-width: 800px;
    width: 35%;
    margin-top: -55px;
    margin-left: auto;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a {
        color: black;
    }

    a:hover {
        color: grey;
    }
}

  .donuts{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }

  .special-donut{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }


}